@import url('https://fonts.googleapis.com/css2?family=Benne&family=Bentham&display=swap');

/* ---- global css */
body { 
  margin: 0;
  color: rgb(240, 240, 220);
  font-family: 'Benne', serif;
}

h1, h2, h3, h4 {
  font-family: 'Bentham', serif;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

.project-container, #skills, #experiences, #contact {
}

/* ---- hero et presentation perso */
.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

.presentation-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(50, 85, 130);
}

.presentation-image {
  width: 60%;
  object-fit: cover;
}

.presentation-text {
  margin: 0px 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---- folio et projets */
#projects {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(248, 248, 248);
  color: rgb(50, 85, 130);
}

.projects-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  padding: 10px;
}

/* ---- skills */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-container {
  width: 400px;
  padding: 0px 12px;
}

.skill-background {
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
}

.skill-fill {
    color: white;
    text-align: right;
    font-size: 20px;
    border-radius: 10px;
}

.skill-fill.green { background-color: rgb(116, 194, 92); }
.skill-fill.blue { background-color: rgb(92, 146, 194); }
.skill-fill.red { background-color: rgb(194, 72, 72); }
.skill-fill.yellow { background-color: rgb(212, 182, 30); }

.skill-fill span {
  margin-right: 10px;
}

/* ---- experiencees */
.experience-line {
  display: flex;
  justify-content: center;
}

.experience-card {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.experience-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.left {
  align-items: flex-end;
  margin-right: 10px;
}

.right {
  align-items: flex-start;
  margin-left: 10px;
}

/* ---- contact infos */
.contact-container {
  display: flex;
}

.contact-list-panel {
  width: 50%;
}

.contact-text-panel {
  width: 50%;
}

