@import url('https://fonts.googleapis.com/css2?family=Benne&family=Bentham&display=swap');

/* ---- global css */
body { 
  margin: 0;
  color: rgb(240, 240, 220);
  font-family: 'Benne', serif;
}

h1, h2, h3 {
  font-family: 'Bentham', serif;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
  display: inline;
}

.project-container, .skills-panel-container, .experiences-container, .contact-container {
  margin: 0px 8%;
}

/* ---- hero et presentation perso */
.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

.presentation-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(50, 85, 130);
}

.presentation-image {
  width: 60%;
  object-fit: cover;
}

.presentation-text {
  margin: 0px 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---- folio et projets */
#projects {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(248, 248, 248);
  color: rgb(50, 85, 130);
}

projects-container h3 {
  padding-top: 20px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  transition: all 0.8s;
}

.project-card:hover{
  transform: scale(1.2);
  border-radius: 8px;
}

.project-card a, .project-card img {
  width: 400px;
  height: 220px;
  padding: 16px;
  border-radius: 8px;
}

/* ---- skills */
#skills {
  height: 100vh;
  width: 100vw;
  background-color: rgb(50, 85, 130);
}

.bloc-container {
  margin: 12% 0px;
}

.skills-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  width: 500px;
  padding: 12px 12px;
}

.skill p {
  font-size: 22px;
}

.skill-background {
    border-radius: 12px;
    background-color: rgb(192, 192, 192);
}

.skill-fill {
    color: white;
    text-align: right;
    font-size: 20px;
    border-radius: 12px;
}

.skill-fill.green { background-color: rgb(116, 194, 92); }
.skill-fill.blue { background-color: rgb(92, 146, 194); }
.skill-fill.teal { background-color: rgb(86, 164, 174); }
.skill-fill.red { background-color: rgb(194, 72, 72); }
.skill-fill.yellow { background-color: rgb(212, 182, 30); }

.skill-fill p {
  margin-right: 10px;
  padding: 3px 0px 2px 0px;
}

/* ---- experience

#experiences {
  min-height: 100vh;
  min-width: 100vw;
}

.experience-line {
  display: flex;
  justify-content: center;
}

.experience-card {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.experience-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.left {
  align-items: flex-end;
  margin-right: 10px;
}

.right {
  align-items: flex-start;
  margin-left: 10px;
}

/* ---- contact infos */
#contact {
  height: 30vh;
  width: 100vw;
  text-align: center;
  font-size: 48px;
  color: rgb(50, 85, 130);
}

#contact p {
  padding: 80px 0px 80px 120px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.contact-img, .social-button {
  width: 128px;
  height: 128px;
  padding: 0px 48px;
}
