@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap');


/* STYLE GENERAL */

body{
  margin: 0px;
  font-family: 'Fraunces', serif;
}

.container{
  padding: 50px 20%;
}

/* STYLE DE DISPOSITION */
.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center
}

/* AUTRE */
.banner{
  border: 1px solid;
  background-color: grey;
  height: 50vh;
  background-image: url('https://images.unsplash.com/photo-1610970884954-4d376ecba53f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1991&q=80');
  color: white;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 0px #03739c;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom: 10px;
  max-width: 450px
}

/*
.author{
  position: absolute;
  top: 20px;
  right: 100px;
  color: white;
  text-shadow: 0 0 2px black;
}
*/

@media (max-width: 640px) {
  
  .container{
    padding: 40px 20px;
  }
  
}
